.generalTableWrapper {
  width: 100%;
  margin-top: 33px;
  position: relative;

  :global {

    .ant-table-wrapper {

      & > .ant-spin-nested-loading {
        position: relative;

        & > .ant-spin-blur {
          clear: both;
          overflow: hidden;
          opacity: 0.5;
          user-select: none;
          pointer-events: none;
        }

      }

    }

    .ant-table table {
      width: 100%;
    }

    .ant-table-thead {
      font-weight: 500;
      font-size: 12px;
      line-height: 14px;
      color: $color_dark_blue;
      word-break: break-all;
      box-shadow: 0px 3px 3px -2px rgba($color_placeholder, 1);

      & > tr {
        box-sizing: border-box;

        & > th.ant-table-cell {
          padding: 16px 9px;
          text-align: left;
          vertical-align: middle;
          background-color: $color_light_grey;
        }

      }

    }

    .ant-table-tbody {
      font-weight: 300;
      font-size: 12px;
      line-height: 14px;
      color: $default_font_color;
      word-break: break-all;

      & > tr.ant-table-row {
        box-shadow: 0px 3px 3px -2px rgba($color_placeholder, .5);

        & > td.ant-table-cell {
          padding: 16px 9px;
        }

        &:hover {
          background-color: rgba($color_light_blue_info, .5);
        }

      }

      & > tr.ant-table-placeholder > td {
        padding: 40px 0;
      }

    }

    .ant-pagination {
      margin: 28px 0;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      
      & > li:not(.ant-pagination-total-text) {
        margin: 0 5px;
        display: inline-block;
        height: 22px;
        width: 22px;
        font-size: 9px;
        line-height: 20px;
        text-align: center;
        border: 1px solid $color_light_blue;
        color: $color_light_blue;
        border-radius: 50%;
        cursor: pointer;
        outline: none;

        &:hover, &.ant-pagination-item-active {
          border-color: $color_dark_blue;
          color: $color_dark_blue;
          & svg {
            color: $color_dark_blue;
          }
        }

        &.ant-pagination-disabled {
          border-color: $color_placeholder;
          color: $color_placeholder;
          & svg {
            color: $color_placeholder;
          }
        }

        & button, & a {
          border: none;
          outline: none;
          background-color: transparent;

          & svg {
            color: $color_light_blue;
          }

        }

      }

      & > li.ant-pagination-total-text {
        margin: 0 15px;
        font-size: 12px;
        color: $color_placeholder;
      }

    }

  }

}
