{
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier/@typescript-eslint"
  ],
  "plugins": [
    "react",
    "@typescript-eslint"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 6,
    "sourceType": "module"
  },
  "rules": {
    "react/prop-types": 0,
    "react/display-name": 0,
    "indent": ["error", 2],
    "no-var": "error",
    "semi": "error",
    "no-multi-spaces": "error",
    "no-multiple-empty-lines": "error",
    "prefer-const": "error",
    "quotes": ["error", "single"],
    "comma-dangle": ["error", "always-multiline"],
    "no-console": "error",
    "no-debugger": "error",
    "no-alert": "error"
  },
  "settings": {
    "react": {
      "pragma": "React",
      "version": "detect"
    }
  }
}