.tiles {
  max-width: 888px;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
}

.tile {
  width: 280px;
  height: 210px;
  margin: 8px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  background-color: $color_light_blue_info;
  border: 1px solid $color_medium_blue;
  border-radius: 6px;
  box-sizing: border-box;
  transition: background-color 0.3s ease-out;
  cursor: pointer;

  &:hover {
    background-color: $color_deep_blue;
    border: 1px solid $color_light_blue_info;

    & svg path {
      fill: #FFF;
    }

    & h3 {
      color: #FFF;
    }

  }

  &__icon {

    & svg {
      width: 48px;
      height: 48px;
      fill: $color_medium_blue;
    }

  }

  &__title {

    & h3 {
      padding: 30px 7px 10px 7px;
      font-size: 24px;
      font-weight: 300;
      line-height: 28px;
      color: $color_medium_blue;
      text-align: center;
    }

  }

}
