.selectContainer {
  margin: 0;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;

  &__label {
    color: $default_font_color;
    font-size: 10px;
    line-height: 12px;
    font-weight: 400;
    margin-bottom: 3px;
  }

  &__wrapper {
    margin: 0;

    
    &.--open {
      transition: box-shadow .3s;
      box-shadow: 0px 0px 3px rgba($color_blue_info, 0.7);
    }

  }

}

.select {
  width: 100%;
  position: relative;

  &__inputWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    font-size: 12px;
    width: 100%;
    border: 1px solid rgba($color_deep_blue, 0.5);
    border-radius: 4px;
    padding: 6px 0;

    &_input {
      width: 100%;
      border: none;
      padding: 0 10px;

      &::placeholder {
        color: $color_placeholder;
      }

    }

    &_arrow,
    &_clear {
      margin: 0 15px 0 7px;
      line-height: 0;
      transition: transform .3s ease-in;
      cursor: pointer;

      & svg {
        fill: rgba($color_deep_blue, 0.5);
      }

      &:hover svg {
        fill: $color_deep_blue;
      }

      &.--open {
        transform: rotate(180deg);
      }

    }

    &_clear {
      margin: 0;
    }

  }

  &__popup {
    position: absolute;
    top: 98%;
    left: 0;
    width: 100%;
    max-height: 220px;
    overflow-x: hidden;
    overflow-y: auto;
    border-radius: 4px;
    border: 1px solid rgba($color_deep_blue, 0.5);
    background-color: #FFF;
    z-index: 1;

    &_item {
      padding: 5px 10px;
      font-size: 12px;
      cursor: default;

      &.--selected {
        background-color: rgba($color_light_blue_info, 0.5);
      }

      &:not(.--no-hover):hover {
        background-color: $color_light_blue_info;
      }

    }

  }

}
