.container {
  @include flexbox;
  @include flex-aling(center, center);
  background-image: linear-gradient(90deg, $color_deep_blue, #fff);
  height: 100vh;
}

.container__auth {
  width: 420px;
  margin: 0 auto;
}

.container__auth__title {
  font-size: 32px;
  color: #FFF;
  font-weight: inherit;
  text-align: center;
}

.container__auth__form {
  height: 328px;
  background-color: #FFF;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, .2);
}