@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-stretch: condensed;
  font-weight: 100;
  src: url('fonts/Roboto-Light.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-stretch: condensed;
  font-weight: 400;
  src: url('fonts/Roboto-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-stretch: condensed;
  font-weight: 400;
  src: url('fonts/Roboto-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-stretch: condensed;
  font-weight: 700;
  src: url('fonts/Roboto-Bold.woff') format('woff');
}

body {
  font-family: 'Roboto', sans-serif;
  color: $default_font_color;
}