.Ñontainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.inputLabel {
  color: $default_font_color;
  font-size: 10px;
  line-height: 12px;
  font-weight: 400;
  margin-bottom: 3px;
}

.input {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  border: 1px solid rgba($color_deep_blue, 0.5);
  border-radius: 4px;
  padding: 6px 0;

  &:hover,
  &:focus-within {
    border-color: $color_deep_blue;
  }

  &:focus-within {
    transition: box-shadow .3s;
    box-shadow: 0px 0px 3px rgba($color_blue_info, 0.7);
  }

  &__error {
    border: 1px solid rgba($color_red, 0.5);

    &:hover,
    &:focus-within {
      border-color: $color_red;
    }
  
    &:focus-within {
      transition: box-shadow .3s;
      box-shadow: 0px 0px 3px rgba($color_red, 0.7);
    }  

  }

}

.input__icon {
  display: inline-block;
  
  &_clear {
    display: flex;
    margin: 0 8px;
    cursor: pointer;
    
    &:hover svg > path {
      transition: fill 0.7s;
      fill: $color_light_blue;
    }

  }

  &_start {
    display: flex;
    margin: 0 0 0 8px;
  }

  &_end {
    display: flex;
    margin: 0 8px 0 0;
  }

}

.input__wrapper {
  width: 100%;
  font-size: 12px;
  
  &_element {
    width: 100%;
    border: none;
    padding: 0 10px;

    &::placeholder {
      color: $color_placeholder;
    }

    &:focus, .input {
      border-color: $color_blue;
    }

  }

  // &:focus +  {
  //   box-shadow: 1px 1px 1px rgba($color_blue_info, 1.0);
  // }

}

.error_label {
  padding-top: 2px;
  color: $color_red;
  font-size: 10px;
}