.dropdownWrapper {
  position: relative;


  .dropdown {
    display: flex;
    align-items: center;
    position: relative;
    flex: 1 1 40px;
    width: 100%;

    &:hover > div,
    &.--is-open > div {
      border-color: $color_light_blue;
    }

    &__label {
      font-size: 12px;
      padding: 5px 10px;
      border: 1px solid $color_light_grey;
      flex-basis: 90%;
      border-right: none;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      cursor: default;

    }

    &__action {
      padding: 0;
      border: 1px solid $color_light_grey;
      flex-basis: 10%;
      
      &_button {
        padding: 6px 10px 1px 10px;
        background-color: transparent;
        overflow: unset;
        border: none;
        cursor: pointer;
        
        &:hover svg {
          fill: $color_light_blue;
        }

      }

    }
  }

}

.dropdownPopupWrapper {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;

  .dropdownPopup {
    display: block;
    position: absolute;
    width: 200px;
    margin: 0;
    padding: 0;
    top: -9999px;
    left: -9999px;
    z-index: 1050;
    background-color: #FFF;
    box-sizing: border-box;
    transform: translate(-176px, 0%);
    box-shadow: 1px 0px 5px 1px rgba($color_placeholder, 0.5);
  }
}
