$default_font_color: #1A1A1A;
$color_dark_blue: #034769;
$color_medium_blue: #086FA1;
$color_blue: #086FA1;
$color_deep_blue: #3CA0D0;
$color_light_blue: #63ADD0;
$color_placeholder :#B4B9C3;
$color_disabled: #A0A0A0;
$color_red: #FF4D4F;
$color_light_red: #FFF2F0;
$color_green: #29D873;
$color_light_green: #F6FFED;
$color_blue_info: #3BB8FA;
$color_light_blue_info: #D6F0FF;
$color_orange: #FAAD14;
$color_light_orange: #FFFBE6;
$color_light_grey: #EBEFF3;
