:global(.--col) {
  flex: 0 0 auto;

  &_12 {
    width: 100%;
  }

  &_11 {
    width: 91.66667%;
  }

  &_10 {
    width: 83.33333%;
  }

  &_9 {
    width: 75%;
  }

  &_8 {
    width: 66.66667%;
  }

  &_7 {
    width: 58.33333%;
  }

  &_6 {
    width: 50%;
  }

  &_5 {
    width: 41.66667%;
  }

  &_4 {
    width: 33.33333%;
  }

  &_3 {
    width: 25%;
  }

  &_2 {
    width: 16.66667%;
  }

  &_1 {
    width: 8.33333%;
  }
}
