*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li[class],
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
}

body {
  font-size: 14px;
  min-height: 100vh;
  min-width: 1280px;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

article,
header,
menu,
nav,
section {
  display: block;
}

ol[class],
ul[class] {
  list-style: none;
  padding: 0;
  margin: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a:not([class]) {
  background-color: transparent;
  text-decoration: none;
  text-decoration-skip-ink: auto;
}

img {
  min-width: 100%;
  display: block;
}

input,
button,
select,
optgroup,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  outline: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

input[type="radio"],
input[type="checkbox"] {
  padding: 0;
  box-sizing: border-box;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox;
}

textarea {
  overflow: auto;
  resize: vertical;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: rgba(214, 240, 255, 1);
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  box-shadow: inset 0 0  6px rgba(214, 240, 255, 1);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(60, 160, 208, 1);
}