@mixin paddings {
  & > div {
    padding: 0 10px;
    &:nth-of-type(1) {
      padding-right: 10px;
      padding-left: 0;
    }
    &:nth-of-type(2) {
      padding-left: 10px;
      padding-right: 0;
    }
  }
}

.formWrapper {

  &.--general-form {
    margin-top: 35px;
  }

  .form {
    display: flex;
    flex-flow: column nowrap;

    &__inputs {
      box-sizing: border-box;

      &_heading {
        color: $color_medium_blue;
        font-size: 14px;
        line-height: 16px;
        font-weight: 400;
        margin-bottom: 15px;
      }

      &_row {
        display: flex;
        flex-wrap: wrap;

        &:not(:first-child) h3 {
          margin-top: 46px;
        }

        &_wrapper {
          display: inline-flex;
        }

      }

      &_column {
        padding-right: 10px;
        padding-left: 10px;
        flex-direction: column;
        align-items: stretch;
        justify-content: stretch;

        &:first-child {
          padding-left: 0;
        }

        &:last-child {
          padding-right: 0;
        }

        &_cell {
          width: 100%;
          display: flex;
          flex-flow: row nowrap;
          margin-bottom: 18px;

          &.--cell_5-7 {
            & > div:nth-of-type(1) {
              width: 41.66667%;
            }
            & > div:nth-of-type(2) {
              width: 58.33333%;
            }
            @include paddings();
          }

          &.--cell_7-5 {
            & > div:nth-of-type(1) {
              width: 58.33333%;
            }
            & > div:nth-of-type(2) {
              width: 41.66667%;
            }
            @include paddings();
          }

          &.--cell_8-4 {
            & > div:nth-of-type(1) {
              width: 66.66667%;
            }
            & > div:nth-of-type(2) {
              width: 33.33333%;
            }
            @include paddings();
          }

          &.--cell_4-4 {
            & > div:nth-of-type(1) {
              width: 33.33333%;
            }
            & > div:nth-of-type(2) {
              width: 33.33333%;
            }
            & > div:nth-of-type(3) {
              width: 33.33333%;
            }
            @include paddings();
          }

          &.--cell_6-6 {
            & > div {
              width: 50%;
            }
            @include paddings();
          }

        }

      }

    }

    &__buttons {
      margin: 10px 0;
      display: flex;
      align-items: center;
      justify-content: center;

      & > * {
        flex-basis: 120px;
        margin: 0 16px;
      }

      &.--general-form {
        justify-content: flex-end;
      }

    }

  }

}

.--col {
  flex: 0 0 auto;

  &_12 {
    width: 100%;
  }

  &_11 {
    width: 91.66667%;
  }

  &_10 {
    width: 83.33333%;
  }

  &_9 {
    width: 75%;
  }

  &_8 {
    width: 66.66667%;
  }

  &_7 {
    width: 58.33333%;
  }

  &_6 {
    width: 50%;
  }

  &_5 {
    width: 41.66667%;
  }

  &_4 {
    width: 33.33333%;
  }

  &_3 {
    width: 25%;
  }

  &_2 {
    width: 16.66667%;
  }

  &_1 {
    width: 8.33333%;
  }
}
